main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 18px;
}

.izbor-grada {
    font-size: 14px;
    margin-top: 5px;
}

iframe {
    width: 420px;
    height: 500px;
    border: 1px solid gray;
    flex: none;
    opacity: 0.78;
}
